<div class="restaurant-form">
  <div class="header">
    <h2>{{ editId ? 'Edytuj' : 'Dodaj' }} restaurację</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="save()">
    <label>
      Nazwa:
      <input type="text" formControlName="name" />
    </label>

    <label>
      Adres:
      <input type="text" formControlName="address" />
    </label>

    <label>
      Godziny otwarcia:
      <input type="text" formControlName="openingHours" />
    </label>

    <div class="actions">
      <button type="submit" [disabled]="form.invalid" class="btn-save">Zapisz</button>
      <button type="button" class="btn-cancel" (click)="router.navigate(['/admin/restaurants'])">Anuluj</button>
    </div>
  </form>
</div>
