<div class="dashboard-container">
  <h1>Panel Administratora</h1>
  <p>Wybierz podstronę, do której chcesz przejść:</p>

  <ul class="dashboard-list">
    <li><a routerLink="/dish">Zarządzanie Danami</a></li>
    <li><a routerLink="/orders">Zarządzanie Zamówieniami</a></li>
    <li><a routerLink="/opinions">Zarządzanie Opiniami</a></li>
    <li><a routerLink="/restaurants">Zarządzanie Restauracjami</a></li>
    <li><a routerLink="/special-offers">Zarządzanie Specjalnymi Ofertami</a></li>
  </ul>

  <button (click)="logout()" class="logout-button">Wyloguj</button>
</div>
