<h2>Zamówienia</h2>
<button routerLink="/admin/orders/new">Dodaj</button>
<table>
  <tr>
    <th>ID Użytkownika</th>
    <th>ID Dania (lista)</th>
    <th>Cena całkowita</th>
    <th>Status</th>
    <th>Akcje</th>
  </tr>
  <tr *ngFor="let o of (orders$ | async)">
    <td>{{ o.userId }}</td>
    <td>{{ o.dishIds.join(', ') }}</td>
    <td>{{ o.totalPrice | currency:'PLN' }}</td>
    <td>{{ o.status }}</td>
    <td>
      <button [routerLink]="['/admin/orders', o.id, 'edit']">Edytuj</button>
      <button (click)="delete(o.id)">Usuń</button>
    </td>
  </tr>
</table>
