<div class="admin-header">
  <h1>Panel Administracyjny</h1>
</div>


<nav class="admin-nav">
    <a routerLink="/admin/dishes" routerLinkActive="active">🍽️ Dania</a>
    <a routerLink="/admin/promotions" routerLinkActive="active">🏷️ Promocje</a>
    <a routerLink="/admin/restaurants" routerLinkActive="active">🍴 Restauracje</a>
    <a routerLink="/admin/users" routerLinkActive="active">👥 Użytkownicy</a>
    <a routerLink="/admin/orders" routerLinkActive="active">📦 Zamówienia</a>
    <button (click)="logout()"> Wyloguj się</button>
</nav>
<main class="admin-content">
  <router-outlet></router-outlet>
</main>
